@import './fonts';
@import './mixins';
@import './variables';

body{
    overflow-x: hidden;
}
html{
    
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1136px;
    margin: 0 auto;
    padding: 15px;
}
@import './_all-blocks/all-blocks';