


nav{
    background: #FFFFFF;
    
}
.navbar{
    min-height: 96px;
    @include flex();
    column-gap: 50px;

    @include for-tablet(){
        column-gap: 20px;
    }

    @include for-mobile(){
        @include flex();
        justify-content: space-between;
    }
}

input[type='checkbox']{
    display: none;
}

.navbar__input:checked~ .navbar__menu{
    transform: translateX(0);
}
.navbar__input:checked~.hamburger{
    display: none;
}
.remove{
    display: none;
}

.hamburger{
    display: none;


    @include for-mobile(){
        display: block;
    }
}

.hidden_hamburger{
    visibility: hidden;
}

.navbar__input:checked~.remove{
    display: block;
}



.navbar__menu{
    @include flex();
    justify-content: space-between;
    width: 100%;


    @include for-mobile(){
        flex-direction: column;
        width: 60%;
        height: 603px;
        background: #333A44;
        padding: 30px 0 50px 0;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 21;
        margin-top: 75px;
        transition: 0.5s ease;
            transform: translateX(-300%);
            align-items: flex-start;
    padding-left: 29px;

    }


    &-bar{
        @include flex();
        column-gap: 32px;



        @include for-mobile(){
            flex-direction: column;
            row-gap: 24px;
            padding-right: 220px;
            align-items: flex-start;
            padding-top: 40px;
        }
    }

    &-link{
        font-weight: 700;
font-size: 15px;
line-height: 25px;
color: $text-color;
transition: 0.5s ease;
    }
    &-link:hover{
        color: $text_hover;
       transform: scale(2,2);
        
    }
    
    &-btn{
        background:  #FCB72B;;
        font-weight: 700;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
padding: 14px 36px;
cursor: pointer;
transition: 0.5s ease;
border: 1px solid transparent;
    }

    &-btn:hover{
        background: #FFFFFF;
        color: #FCB72B;
        border: 2px solid #FCB72B;
    }
    &-btn:focus{
        background: #ffffff;
        color: #cf1313;
        border: 2px solid #cf1313;
    }
}




.hero{
    background-image: url('../../../images/about-hearor.png');
    
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin: 0 auto;
}

.hearor{



    &__title{
        font-weight: 700;
font-size: 56px;
line-height: 56px;
color: #FFFFFF;
height: 200px;
padding: 50px 0;
cursor: pointer;
transition: 0.5s ease;

@include for-tablet(){
    text-align: center;
}
    }
}





